.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main-container {
    justify-content: center;
    padding: 10px;
    margin: auto;
}

.bg-dark-blue {
    background-color: #0e192c;
}

.bg-light-grey {
    background-color: #9e9e9e;
}

.bg-orange {
    background-color: #f3b057;
}

.bg-orange-op-25 {
    background-color: #f3b057;
    opacity: 25%;
}

.border-orange {
    border-width: 3px;
    border-color: #fafd59;
}

.text-orange {
    color: #fafd59;
}

/*
black - #141414
dark grey - #565656
light grey - #9E9E9E
orange - #f3b057
white - #FFFFFF
*/
